.F{
    background-color: #dfdddd;
    text-align: center;
    padding: 25px 0px;
    font-size: xx-large;
    font-family: sans-serif;
}
body {
    margin: 0%;
}
html{
    border-left: 20px solid red;
    border-right: 20px solid red;
    padding: 0px 50px;
    margin: 0px 20px;
}

.Sc-child-3 {
    width: 650px;
    color: rgb(0, 0, 78);
    background-color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;
    
}